body{
    min-height: 100vh;
    scroll-behavior: smooth;
}
.headLineBar{
    display: flex;
    margin-top: 70px;
    min-height: 50px;
    color: white;
    align-items: center;
    background-color: #576574;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.headLineBar h1 > span{
    color: orange;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}
.return_btn_aria{
    position: absolute;
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: 75vh;
    right:9%;
}
.ReturnBtn{
    z-index: 2;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    position: fixed;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #02011d;
    box-shadow: 0 0 10px rgb(9, 255, 190);
    animation: retunbtn 2s ease-in-out;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    -webkit-animation: retunbtn 3s linear infinite;
}
@keyframes retunbtn {
    0%{
    transform:translateY(0px) ;
    -webkit-transform:translateY(0px) ;
    -moz-transform:translateY(0px) ;
    -ms-transform:translateY(0px) ;
    -o-transform:translateY(0px) ;
    filter:hue-rotate(0deg) ;
    -webkit-filter:hue-rotate(0deg) ;
}
   20%{ transform:translateY(-5px) ; -webkit-transform:translateY(-5px) ; -moz-transform:translateY(-5px) ; -ms-transform:translateY(-5px) ; -o-transform:translateY(-5px) ; }
   40%{ transform:translateY(5px) ; -webkit-transform:translateY(5px) ; -moz-transform:translateY(5px) ; -ms-transform:translateY(5px) ; -o-transform:translateY(5px) ; }
   60%{ transform:translateY(-5px) ; -webkit-transform:translateY(-5px) ; -moz-transform:translateY(-5px) ; -ms-transform:translateY(-5px) ; -o-transform:translateY(-5px) ; 
    filter:hue-rotate(360deg) ;
    -webkit-filter:hue-rotate(360deg) ;}
   80%{ transform:translateY(5px) ; -webkit-transform:translateY(5px) ; -moz-transform:translateY(5px) ; -ms-transform:translateY(5px) ; -o-transform:translateY(5px) ; }
   100%{
    transform:translateY(-5px) ;
    -webkit-transform:translateY(-5px) ;
    -moz-transform:translateY(-5px) ;
    -ms-transform:translateY(-5px) ;
    -o-transform:translateY(-5px) ;
    filter:hue-rotate(360deg) ;
    -webkit-filter:hue-rotate(360deg) ;
}
}
.ReturnBtn i{
    color: white;
    font-size: 20px;
}
@media (max-width:992px){
    h1{
        font-size: 30px;
    }
}
@media (max-width:768px){
    .headLineBar{
        text-align: center;
    }
    h1{
        font-size: 25px;
    }
}